
.home-condainer{
    background: url(../Img/11.jpg) no-repeat center ;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.home-condainer h1{
    text-align: center ;
    font-size: 60px;
    color:  linear-gradient(to left top, #9eacc1, #b8bfd0, #d1d4df, #e9e9ef, #ffffff);
}
.name{
    background: -webkit-linear-gradient(rgb(206, 193, 193), rgb(214, 95, 95));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-header-text{
    font-family: After, serif;
    font-size: 18px; 
    font-weight: 100;
    margin: 20px;
    font-weight: lighter;
}

.list-social-media{
    display: flex;
    justify-content: center;
    gap: 40px; 
    list-style-type: none; 
}

.list-social-media .li-icon {
    /* margin-top: 30px; */
    font-size: 30px; 
}

.list-social-media .li-icon a{
    color: white;
}

.li-icon a .fa-facebook:hover{
    color: blue;
    filter: drop-shadow(5px 5px 10px blue);
}
.li-icon a .fa-instagram:hover{
    color: rgb(255, 41, 173);
    filter: drop-shadow(5px 5px 10px rgb(255, 41, 173));
}
.li-icon a .fa-github:hover{
    color: rgb(255, 239, 68);
    filter: drop-shadow(5px 5px 10px rgb(255, 239, 68));
}
.li-icon a .fa-whatsapp:hover{
    color: rgb(91, 205, 68);
    filter: drop-shadow(5px 5px 10px rgb(91, 205, 68));
}


.home-condainer a{
    margin-top: 60px;
}

.fa-angle-double-down{
    font-size: 40px;
    color: white;
    filter: drop-shadow(5px 5px 10px rgb(255, 255, 255));
}

.list-social-media{
    filter: drop-shadow(5px 5px 10px rgb(255, 255, 255));
    margin-top: 50px;
}