.dropdown{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.educate{
  font-size: 25px;
  font-weight: 500;
  margin-left: 20px;
}

.fa-bars{
  font-size: 35px;
  margin-right: 20px;
}

.dropdown .educational-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  border-bottom: solid rgb(0, 0, 0) ;
  width: 100%;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 208, 90) ;

}

.menu{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-item{
  list-style: none;
}

.menu-item > button{
  border: none; font-size: 18px; font-weight: 600;
  background-color: rgb(18,29,49,0.2); color: rgb(20, 8, 69);
  padding: 5px; border-radius: 10px;
}
